body {
  text-align: center;
  /* background-color: #011F3F; */
  background-color: #131b31;
}

#level-title {
  font-family: monospace;
  font-size: 5rem;
  margin:  5%;
  color: #ffffe0;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 7px solid black;
  border-radius: 15%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
